<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link href="list.css" rel="stylesheet" type="text/css">
</head>
<body>
<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>GENRE</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book :${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Any Book</td>
        <td th:text="${book.author}">Unnamed</td>
        <td th:text="${book.genre}">Unknnown</td>
        <td>
            <a href="edit.html" th:href="@{/edit(id=${book.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
        </td>

    </tr>
    <td>
        <a href="create.html" th:href="@{/create}">Create</a>
    </td>
    </tbody>
</table>
</body>
</html>